#sidebar_card{
    border: None;
    margin-top: 50%;
}


#sidebar_card a:link{
    color:azure;
}

#sidebar_card a:hover{
    color: #23a99d;
}

#sidebar_card .card-header .card-text{
    color: #23a99d;
} 

#sidebar_list li{
    border:none
}

#sidebar_list li a{
    text-decoration: none;
}

#sidebar_list a:link{
    color:azure;
}

#sidebar_list a:hover{
    color: #23a99d;
}


#content_card{
    border:none;
    background-color: none;
}

#content_card .card-header{
    background-color: inherit;
    border: none;
}

#content_card .card-footer{
    background-color:inherit;
}

#content_card a{
    text-decoration: none;
}

#content_card a:link{
    color: #23a99d;
}

#content_card a:hover{
    color: #093335;
}

#lower_text{
    color: #23a99d;
}

#content_card li{
    border:none;
}

#sep_bar{
    border-top: 4px solid #23a99d
}

#sep_bar_items{
    border-top: 1px dashed #23a99d
}

#badge{
    background-color: #23a99d;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color:#23a99d;
}

.navbar-dark .navbar-nav .nav-link:focus{
    color:#23a99d;
}