
<div class="row pt-3">
    <h2>Educación</h2>
    <hr id="sep_bar">
    <div class="row" ng-repeat="edu_item in educacion">
        <div class="card p-3" id="content_card">
            <div class="card-header">
                <h5 class="card-text" id="upper_text">{{edu_item.grado}}</h5>
                <h6 class="card-text" id="lower_text">{{edu_item.institucion}}</h6>
                {{edu_item.fechas}}
            </div>
            <hr id="sep_bar_items">
        </div>
    </div>

    <h2>Experiencia</h2>
    <hr id="sep_bar">
    <div class="row" ng-repeat="exp_item in experiencias">
        <div class="card p-3" id="content_card">
            <div class="card-header">
                <h5 class="card-text" id="upper_text">{{exp_item.cargo}}</h5>
                <h6 class="card-text" id="lower_text">{{exp_item.empresa}}</h6>
                {{exp_item.fechas}}
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="tarea in exp_item.tareas">{{ tarea }}</li>
                </ul>
            </div>
        </div>
        <hr id="sep_bar_items">
    </div>
</div>
