<nav class="navbar navbar-expand-lg navbar-dark text-white bg-dark d-lg-none .d-xl-block">
    <a class="navbar-brand ps-3" href="#!">Felipe Vega {{path}}</a>
    <button class="navbar-toggler pe-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ps-3" data-bs-toggle="tab">
        <a class="nav-item nav-link"  href="#!">Acerca de mi </a>
        <a class="nav-item nav-link"  href="#!curriculum">Curriculum</a>
        <a class="nav-item nav-link"  href="#!proyectos">Proyectos</a>
      </div>
    </div>
  </nav>